{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

{%- case section.settings.use_width -%}
    {% when '1' %}
      	{%- assign width_instagram = 'g-fullwwidth' -%}
    {% when '2' %}
    	{%- assign width_instagram = 'container-full' -%}
    {% when '3' %}
    	{%- assign width_instagram = 'container' -%}
{%- endcase -%}

<div class="g--instagram_feed {{ css_animations_class }}">
  <div class="{{ width_instagram }}">
    {% if section.settings.title != blank %}
    <div class="text-center">
      <h4>{{ section.settings.title }}</h4>
    </div>
    {% endif %}
    <div id="la_instagram_feed{{ section.id }}" class="la-instagram-feeds instagram-grayscale">
      <div class="instagram-feed-inner">
        <input type="hidden" id="g-token-{{ section.id }}" value="{{ section.settings.accessToken }}">
        <div class="globo-instagram clearfix" data-id="{{ section.id }}">
          <div id="g-instafeed-{{ section.id }}" class="g-instafeed-slick-{{ section.id }} instagram--with-padding" data-limit="{{ section.settings.limit }}" data-sort-by="{{ section.settings.sort }}" data-slick='{"slidesToShow": "{{ section.settings.sidetoshow }}", "autoplay": true, "arrows": false,"responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}},{"breakpoint": 480,"settings":{"slidesToShow": 1}}]}'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Instagram Feed",
    "class": "globo_instagram_feed",
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Instagram"
      }
    ],
    "settings": [
      {
      "type": "select",
      "id": "css_animations",
      "label": "CSS Animation",
      "options": [
          { "value": "1", "label": "None" },
          { "value": "2", "label": "fadeIn" },
          { "value": "3", "label": "fadeInDown" },
          { "value": "4", "label": "fadeInDownBig" },
          { "value": "5", "label": "fadeInLeft" },
          { "value": "6", "label": "fadeInLeftBig" },
          { "value": "7", "label": "fadeInRight" },
          { "value": "8", "label": "fadeInRightBig" },
          { "value": "9", "label": "fadeInUp" },
          { "value": "10", "label": "fadeInUpBig" }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "use_width",
        "label": "Slideshow width",
        "options": [
          { "value": "1", "label": "Use full width" },
          { "value": "2", "label": "Use padding" },
          { "value": "3", "label": "Use container" }
        ],
        "default": "1"
      },
      {
        "type": "text",
        "id": "accessToken",
        "label": "Access Token:",
        "default": "8205164261.3a81a9f.ba755ce4da85464b8a9a3e15a15c7db4",
		"info": "Use when Get Image from: 'Access Token'. [Where do I find Access Token?](http:\/\/instagram.pixelunion.net\/)"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
		"default": "Instagram <span>@Veera<\/span>"
      },
      {
        "type": "text",
        "id": "limit",
        "label": "Limit: (integer)(Max: 33)",
        "default": "20"
      },
      {
        "type": "select",
        "id": "sort",
        "label": "Sort by",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "Default"
          },
          {
            "value": "most-recent",
            "label": "Newest to oldest"
          },
          {
            "value": "least-recent",
            "label": "Oldest to newest"
          },
          {
            "value": "most-liked",
            "label": "Highest # of likes to lowest"
          },
          {
            "value": "least-liked",
            "label": "Lowest # likes to highest"
          },
          {
            "value": "most-commented",
            "label": "Highest # of comments to lowest"
          },
          {
            "value": "least-commented",
            "label": "Lowest # of comments to highest"
          },
          {
            "value": "random",
            "label": "Random order"
          }
        ]
      },
      {
       "type": "header",
       "content": "Settings Slider"
      },
      {
        "type": "text",
        "id": "speed",
        "label": "Speed: (integer)",
        "default": "300"
      },
      {
        "type": "text",
        "id": "sidetoshow",
        "label": "Slides to show: (integer)",
        "default": "4"
      },
      {
        "type": "header",
        "content": "Design settings"
      },
      {
      "type": "checkbox",
      "id": "use_container",
      "label": "Use Container?",
      "default": false 
      }
    ]
  }
{% endschema %}