{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

{%- case section.settings.sidetoshow -%}
    {% when '3' %}
      	{%- assign slider_class_width = 'xlg-grid-3-items lg-grid-3-items md-grid-3-items' -%}
    {% when '4' %}
    	{%- assign slider_class_width = 'xlg-grid-4-items lg-grid-4-items md-grid-4-items' -%}
{%- endcase -%}
<div class="g-product-countdown-slider {{ css_animations_class }}" {% if section.settings.margin != blank %}style="margin: {{ section.settings.margin }};"{% endif %}>
  <div class="{% if section.settings.use_container %}container{% else %}container-full{% endif %}">
    <div class="{% if section.settings.title != blank %}max-width-570{% endif %} text-center">
      {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
      <p>{{ section.settings.subtitle }}</p>
      {% endif %}
    </div>
    <div style="display: none;">{% include 'dlicon-arrow-left2' %}{% include 'dlicon-arrow-right2' %}</div>
    <div class="g-slick-slider grid-items {{ slider_class_width }} sm-grid-3-items xs-grid-2-items mb-grid-1-items" data-slick='{"infinite":{% if section.settings.use_loop %}true{% else %}false{% endif %},"dots":{% if section.settings.use_dots %}true{% else %}false{% endif %},"slidesToShow":{{ section.settings.sidetoshow }},"slidesToScroll":{{ section.settings.sidetoshow }},"autoplay":{% if section.settings.use_autoplay %}true{% else %}false{% endif %},"arrows":{% if section.settings.use_arrow %}true{% else %}false{% endif %},"speed":"1000","autoplaySpeed":3000,"centerMode":false,"variableWidth":false,"nextArrow":"<button type=\"button\" style=\"font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-next default\"><svg><use xlink:href=\"#dlicon-arrow-right2\"><\/use><\/svg><\/button>","prevArrow":"<button type=\"button\" style=\"font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-prev default\"><svg><use xlink:href=\"#dlicon-arrow-left2\"><\/use><\/svg><\/button>","responsive":[{"breakpoint":1200,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":992,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":768,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}]}'>
      {% for block in section.blocks %}
          {%- assign product = all_products[block.settings.featured_product] -%}
          {% if product == empty %}
          {% include 'no-product-countdown' %}     
          {% else %}
          <div class="grid-item wow fadeInUp">
            {% include 'g_product_countdown_slider' %}
            <div class="veera-countdown" {% if block.settings.end_date_countdown != blank %}data-end-date="{{ block.settings.end_date_countdown }}"{% endif %}></div>
          </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Product countdown slider",
    "class": "globo_product_countdown_slider",
	"max_blocks": 6,
  	"presets": [
      {
        "name": "Product countdown slider",
        "category": "Sections Products Home",
        "blocks": [
          {
            "type": "block_product_countdown"
          },
          {
            "type": "block_product_countdown"
          },
          {
            "type": "block_product_countdown"
          }
        ]
      }
    ],
    "settings": [
      {
      "type": "select",
      "id": "css_animations",
      "label": "CSS Animation",
      "options": [
          { "value": "1", "label": "None" },
          { "value": "2", "label": "fadeIn" },
          { "value": "3", "label": "fadeInDown" },
          { "value": "4", "label": "fadeInDownBig" },
          { "value": "5", "label": "fadeInLeft" },
          { "value": "6", "label": "fadeInLeftBig" },
          { "value": "7", "label": "fadeInRight" },
          { "value": "8", "label": "fadeInRightBig" },
          { "value": "9", "label": "fadeInUp" },
          { "value": "10", "label": "fadeInUpBig" }
        ],
        "default": "2"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container?",
        "default": false
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Special Offers"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub title",
        "default": "Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus. Donec mollis"
      },
      {
       "type": "header",
       "content": "Product Columns Slider"
      },
      {
        "type": "select",
        "id": "sidetoshow",
        "label": "Slides To Show",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "3"
      },
      {
        "type": "checkbox",
        "id": "use_loop",
        "label": "Use Infinite loop sliding?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_autoplay",
        "label": "Use autoplay?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "label": "Use dots?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_arrow",
        "label": "Use arrow?",
        "default": false
      }
    ],
  	"blocks": [
      {
        "type": "block_product_countdown",
        "name": "Block product countdown",
        "settings": [
           {
            "type": "header",
            "content": "Product"
           },
           {
            "type": "product",
            "id": "featured_product",
            "label": "Choose product"
           },
           {
            "type": "header",
            "content": "Countdown"
           },
           {
            "type": "text",
            "id": "end_date_countdown",
            "label": "End date countdown",
            "default": "2019/10/29",
			"info": "yyyy/mm/dd"
           }
        ]
      }
    ]
  }
{% endschema %}