{% assign items_list_1 = settings.megamenu1 | split:"," | strip | downcase %}
{% assign items_list_2 = settings.megamenu2 | split:"," | strip | downcase %}
{% assign items_list_new = settings.megamenunew | split:"," | strip | downcase %}
{% assign items_list_hot = settings.megamenuhot | split:"," | strip | downcase %}
{% assign megamenu_image_index = 1 %}
{% assign megamenu_links_image_index = 1 %}
{% assign megamenu_content_index = 1 %}

{% case settings.header_imported %}
   {% when 'header_one' %}
      {% include 'header_one' %}
   {% when 'header_two' %}
      {% include 'header_two' %}
   {% when 'header_three' %}
      {% include 'header_three' %}
   {% when 'header_four' %}
      {% include 'header_four' %}
   {% when 'header_five' %}
      {% include 'header_five' %}
   {% when 'header_six' %}
      {% include 'header_six' %}
   {% when 'header_seven' %}
      {% include 'header_seven' %}
   {% when 'header_eight' %}
      {% include 'header_eight' %}
{% endcase %}

<div class="site-header-mobile">
    {% comment %} TOP BAR {% endcomment %}
    {% if settings.header_use_topbar or settings.campaign_direct_discount_enabled %}
        {% include 'header.top-bar' %}
    {% endif %}
    <div class="site-header-outer">
        <div class="site-header-inner">
            <div class="container">
                <div class="header-main clearfix">
                    <div class="header-mobile-left">
                        <div class="header_component header_component--primary-menu la_compt_iem la_com_action--primary-menu ">
                          <a rel="nofollow" class="component-target" href="javascript:;"><i class="dl-icon-menu1"></i><span class="menu-text">MENU</span></a>
                        </div>
                    </div>
                    <div class="header-mobile-center header-component-outer_logo">
                      <div class="logo">
                        <a href="/" itemprop="url" rel="home">
                          <figure class="logo--normal"><img src="{{ 'logo-ogallar.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></figure>
                          <figure class="logo--transparency"><img src="{{ 'logo-ogallar.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></figure>
                        </a>
                      </div>
                    </div>
                    <div class="header-mobile-right">
                        <div class="header_component header_component--searchbox la_compt_iem la_com_action--searchbox searchbox__01 "><a class="component-target btn-search" href="javascript:;"><i class="dl-icon-search1"></i></a></div>
                        <div class="header_component header_component--cart la_compt_iem la_com_action--cart">
                          <a rel="nofollow" class="component-target" href="/cart">
                            <i class="dl-icon-cart1"></i><span class="component-target-badget la-cart-count">{{ cart.item_count }}</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-wrap">
                <!-- Mobile Drawer Header -->
                <div class="mobile-menu-header">
                  <a href="javascript:;" class="btn-close-menu">
                    <i class="dl-icon-close"></i>
                  </a>
                </div>
                
                <!-- Mobile Drawer Navigation Container -->
                <div class="mobile-menu-nav-container">
                  <div id="la_mobile_nav" class="dl-menuwrapper">
					<ul class="dl-menu menu">
                      {% for link in linklists[settings.main_linklist].links %}
                      {%- assign child_list_handle = link.title | handleize -%}
                      <li class="menu-item {% if linklists[link.handle] != empty %}menu-item-has-children{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>{% if linklists[link.handle] != empty %}<span class="narrow"><i class="fa fa-angle-right"></i></span>{% endif %}
                        {% if linklists[child_list_handle].links != blank %}
                        <ul class="sub-menu">
                          {% for sublink in linklists[link.handle].links %}
                          <li class="menu-item {% if linklists[sublink.handle] != empty %}menu-item-has-children{% endif %}"><a href="{{ sublink.url }}">{{ sublink.title }}</a>{% if linklists[sublink.handle] != empty %}<span class="narrow"><i class="fa fa-angle-right"></i></span>{% endif %}
                            {% if linklists[sublink.handle] != empty %}
                            <ul class="sub-menu">
                              {% for subsublink in linklists[sublink.handle].links %}
                              <li><a href="{{ subsublink.url }}">{{ subsublink.title }}</a></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                  	</ul>
                  </div>
                </div>
                
                <!-- Mobile Drawer Footer Section -->
                <div class="mobile-menu-footer">
                  <div class="mobile-menu-account">
                    {% if shop.customer_accounts_enabled %}
                      {% if customer %}
                        <a href="/account">
                          <i class="fa fa-user-o"></i>
                          <span>MI CUENTA</span>
                        </a>
                      {% else %}
                        <a href="/account/login">
                          <i class="fa fa-user-o"></i>
                          <span>INICIAR SESIÓN</span>
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                  
                  <div class="mobile-menu-language">
                    <div class="language-dropdown-toggle">
                      <span>ESPAÑOL</span>
                      <i class="fa fa-angle-down"></i>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>