<script data-id="{{product.id}}" data-handle="{{product.handle}}" id="gpw-collection-script-{{product.id}}" class="gpw-collection-script">
	GPWCollection[{{product.id}}] = {{ product | json }};
</script>
<div class="gpw-action"></div>
