<script data-id="{{product.id}}" data-handle="{{product.handle}}" id="gpc-collection-script-{{product.id}}" class="gpc-collection-script">
	GPCCollection[{{product.id}}] = {{ product | json }};
</script>
<div class="gpc-action"></div>
