{%- assign forloopmodulo = forloop.index0 | modulo: 2  -%}

<li class="product_item grid-item product" data-width="1" {% if forloopmodulo == 0  %}data-height="1.5"{% else %}data-height="1"{% endif %}>
  <div class="product_item--inner">
    <div class="product_item--thumbnail">
      <div class="product_item--thumbnail-holder">
        <a href="/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          <span class="label-product new">{{ 'products.product.new' | t }}</span>
        </a>
      </div>
      <div class="product_item_thumbnail_action product_item--action">
        <div class="wrap-addto">
          <a href="javascript:;" class="quickview button la-quickview-button" data-toggle="tooltip" data-placement="top" title="Quick view" tabindex="0"><span>{{ 'products.product.quick_view' | t }}</span></a>
          <a href="javascript:;" class="globo-add-to-cart" rel="nofollow" tabindex="0" title="{{ 'products.product.add_to_cart' | t }}"><span>{{ 'products.product.add_to_cart' | t }}</span></a>
          <div class="gpw-action"><a href="javascript:;" class="add_wishlist button la-core-wishlist globo-add-to-wishlist" title="Add to wishtlist" rel="nofollow"><span>Add to wishtlist</span></a></div>
          <div class="gpc-action"><a href="javascript:;" class="globo-add-to-compare" title="Add to compare" rel="nofollow"><span>Add to compare</span></a></div>
        </div>
      </div>
    </div>
    <div class="product_item--info">
      <div class="product_item--info-inner text-center">
        <h3 class="product_item--title"><a href="/">Product Title</a></h3>
        <span class="price">
          <del><span class="amount">$56.00</span></del>
          <ins><span class="amount">$34.00</span></ins>
        </span>
      </div>
    </div>
  </div>
</li>
